html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursor {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background: transparent;
  pointer-events: none;
  position: fixed;
  top: -25px;
  left: -25px;
  z-index: 10;
  opacity: 0.6;
  transition: scale 0.5s ease;
}
